
.f_generateChartBtn {
	padding: 10px 20px;
	font-size: 22px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: rgb(76, 111, 175);
	border: none;
	border-radius: 15px;
	box-shadow: 9px 9px #999;
  }
  
.f_generateChartBtn:hover {background-color: #3e6a8e}
  
.f_generateChartBtn:active {
	background-color: #3e678e;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
.fGraphContent
{
	width: auto;
	height: 450px;
	overflow: hidden;
}
.fGraphTitle
{
	width: auto;
	height: 50px;
}

.fPlot
{
	/* W3schools ref */
	display: -webkit-flex; /* Safari */
	-webkit-flex-direction: row; /* Safari 6.1+ */
	display: flex;
	flex-direction: row;
}

.fLegend
{
	display: inline;
}

.resize
{
	position: initial!important;
}

.fGraphFooter
{
	bottom: 40px;
	left: 24px;
	position: fixed;
}
.CodeMirror
{
	height: 100%!important;
	width: 100%!important;
}

.resize-vertical
{
	overflow: hidden;
}

.cm-s-material
{
	min-height: 120px;
	height: 100%!important;
	width: 100%!important;;
}

.CodeMirror-focused
{
	min-height: 120px;
	height: 100%!important;
	width: 100%!important;
}

.react-codemirror2 
{
	min-height: 120px;
	height: 100%!important;
	width: 100%!important;
}

.CodeMirror-scroll
{
	min-height: 120px;
	height: 100%!important;
	width: 100%!important;
}

.CodeMirror-vscrollbar
{
	min-height: 120px;
	height: 100%!important;
	width: 100%!important;
}

.CodeMirror-hscrollbar
{
	overflow: auto;
} 

